##### `requirements.txt`
##### HR Staff Portal
##### Open-Source, hostet on https://github.com/DrBenjamin/HRStaffPortal
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit
extra_streamlit_components
pandas
numpy
pygsheets
googledrivedownloader
